In [ ]:
import pymongo
client=pymongo.mongo_client.MongoClient("172.20.26.39",27017)
client.database_names()
mdb=client.rawData
mdb.collection_names()
collection=client.rawData.wowprimeipeen
ipeendata=list(collection.find({}))
client.close()
ipeendata=[dien for dien in ipeendata if dien['lat']!=0 and dien['status']=="正常營業" and dien['lat']>18 and dien['lat']<27 and dien['lng']<125 and dien['lng']>117]
import re
for dien in ipeendata:
    try:
        dien["bigadd"]=re.findall("(..[市|縣])(\w\w?\w?[區|市|鎮|鄉])",
                               dien["address"])[0][0]
    except:
        dien['bigadd']=""
    try:
        dien["smalladd"]=re.findall("(..[市|縣])(\w\w?\w?[區|市|鎮|鄉])",
                           dien["address"])[0][1]
    except:
        dien["smalladd"]=""
    del dien["_id"]
print(len(ipeendata))

In [ ]:
import sqlite3

In [ ]:
db = sqlite3.connect('D:/DRF/ipeen.sqlite3')

In [ ]:
cur.close()

In [ ]:
cur = db.cursor()

In [ ]:
#--------------------------------

In [ ]:
ipeendata[0]

In [ ]:
cur.execute("DROP TABLE `ipeen`")

In [ ]:
cur.execute('''CREATE TABLE `ipeen` (
    `id` TEXT NOT NULL UNIQUE,
    `name` TEXT NOT NULL,
    `address` TEXT,
    `tele` TEXT,
    `averagecost` TEXT,
    `viewcount` INTEGER,
    `Ncomment` INTEGER,
    `bigstyle` TEXT,
    `smallstyle` TEXT,
    `bigadd` TEXT,
    `smalladd` TEXT,
    `lat` NUMERIC,
    `lng` NUMERIC,
    PRIMARY KEY(`id`)
);''')

In [ ]:
for row in cur.execute("SELECT * from ipeen;"):
    print(row)

In [ ]:
n=0
for data in ipeendata:
   
    if dien['lat']!=0 and dien['status']=="正常營業" and dien['lat']>18 and dien['lat']<27 and dien['lng']<125 and dien['lng']>117 and dien['bigstyle']!="":
        try:
            cur.execute("INSERT INTO ipeen VALUES ('%s','%s','%s','%s','%s', '%s', '%s','%s', '%s', '%s', '%s', '%s', '%s');"%(data['id'],
                                                                                                         data['name'],
                                                                                                         data['address'].replace("'",""),
                                                                                                       data['tele'],
                                                                                                       data['averagecost'],
                                                                                                       data['viewcount'],
                                                                                                       data['Ncomment'],
                                                                                                       data['bigstyle'].replace("'","").replace("、",""),
                                                                                                       data['smallstyle'].replace("'","").replace("、",""),
                                                                                                       data['bigadd'],
                                                                                                       data['smalladd'],
                                                                                                        data['lat'],
                                                                                                        data['lng']))
            n+=1
            print(n)
        except:
            pass

In [ ]:
data

In [ ]:
data['lng']

In [ ]:
db.commit()

In [ ]:
for row in cur.execute("SELECT * FROM ipeen where bigstyle='日式料理';"):
    print(row)

In [ ]:
db.close()